<form class="archidekt-input-section" method="POST" action="/deck">
  <div class="input-row">
    <label for="deck-number" class="deck-label">Or play any deck on <a href="https://archidekt.com/" target="_blank">Archidekt</a></label>
    <input type="text" id="deck-number" name="deck-number" placeholder="Archidekt URL" />
    <button type="submit" id="load-deck-button" class="button-base load-deck-button" disabled>Load Deck</button>
  </div>
  <div id="deck-number-error" class="validation-message" style="visibility: hidden;"></div>
  <input type="hidden" name="deck-source" value="archidekt" />
</form>
