<header class="main-header">
  <div class="header-content">
    <div class="header-title">
      <a href="/">MTG Deck Shuffler</a>
    </div>
    <div class="right-nav">
      <a href="/choose-any-deck"<% if (locals.activePage === 'play') { %> class="nav-link active"<% } %>><%= locals.playLinkText || 'play' %></a>
      <a href="/docs"<% if (locals.activePage === 'docs') { %> class="nav-link active"<% } %><%= locals.linksInNewTabs ? ' target="_blank"' : '' %>>docs</a>
      <a href="/about"<% if (locals.activePage === 'about') { %> class="nav-link active"<% } %><%= locals.linksInNewTabs ? ' target="_blank"' : '' %>>about</a>
      <a href="https://github.com/jessitron/mtg-deck-shuffler" target="_blank">
        <img class="github-logo" src="/images/github-mark.svg" alt="GitHub" />
      </a>
    </div>
  </div>
</header>
