<header class="main-header">
  <div class="header-content">
    <div class="header-title">
      <a href="/">MTG Deck Shuffler</a>
    </div>
    <div class="right-nav">
      <a href="/docs"<% if (locals.activePage === 'docs') { %> class="nav-link active"<% } %>>docs</a>
      <span>about</span>
      <a href="https://github.com/jessitron/mtg-deck-shuffler" target="_blank">
        <img class="github-logo" src="github-mark.svg" alt="GitHub" />
      </a>
    </div>
  </div>
</header>
