<!DOCTYPE html>
<html>

<%- include('partials/head', {
  pageTitle: 'About - MTG Deck Shuffler',
  additionalFonts: ['Ovo']
}) %>

<body>
  <div class="about-page">
    <%- include('partials/header', { activePage: 'about' }) %>

    <div id="homepage-content" class="page-with-title-container">
      <h1 class="page-title">About MTG Deck Shuffler</h1>

      <div class="expository-text-container">
        <div class="expository-text">
          <h3>What does this do?</h3>
          <p>Play Magic, The Gathering remotely with friends -- using any deck!</p>
          <p>You need:</p>
          <ul>
            <li>A friend (or two or three) to play with</li>
            <li>A shared voice chat, like Discord</li>
            <li>A shared online white board, like <a href="https://www.mural.co/" target="_blank">Mural</a>, which serves as the table</li>
            <li>Decks defined in Archidekt (or use the preconstructed decks we've downloaded)</li>
            <li>This app for each of you to manage your library and hand</li>
          </ul>
          <p>Each of you can choose a deck in this app, then shuffle up. Draw cards to your hand, then click on them to do more. When you play a card in MTG Deck Shuffler, it gets copied to your clipboard. Then paste it into Mural!</p>
          <p>My sister and I play this way, and our board winds up looking like this:</p>
          <img src="mural-board.png" class="how-to-mural" alt="a bunch of Magic cards scattered across a white board" />
          <p>That picture won't tell you much. We're on voice chat when we play, so we talk through what we're doing. It's fun, because we use fancy lands and tokens. We make little notes on top of the cards as counters or to track effects.</p>
        </div>
      </div>
    </div>

    <%- include('partials/footer') %>
  </div>
</body>

</html>
